@import "stylesheets/variables";
@import "stylesheets/themes/florida/theme.scss";

.wrapper {
  margin: auto;
  padding: 2rem 1rem;
}

.intro__title {
  margin: 1rem 0;
}

.intro {
  h3 {
    font-family: $serifFont;
    font-size: 1.5rem;
    line-height: 1.15;
    margin: 0 0 0.25rem;
  }

  p {
    margin: 1rem 0;
  }

  span {
    font-style: italic;
  }

  ul {
    display: grid;
    grid-gap: 2rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }

  li {
    align-items: baseline;
    border-bottom: 0.075rem solid $grayBorderColor;
    padding-bottom: 2rem;

    &:hover {
      border-bottom-color: $linkColor;
      text-decoration: none;
    }
  }
}
