@import "stylesheets/variables";

.exhibits__section {
  height: 100%;
  width: 100%;
  background-color: #FAF9F1;
  display: flex;
  justify-content: center;
  min-height: 850px;
  
  .exhibits__container {
    h1 {
      padding: 1rem 0;
    }

    .card {
      max-width: 345px;
      margin-bottom: 1rem;
    }
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and ($md-viewport) {
  .exhibits__section {
    
    .exhibits__container {
      width: 80%;

      h1 {
        padding: 2rem 0;
        font-size: 2rem;
      }
  
      .card {
        max-width: inherit;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and ($mdP-viewport) {
  .exhibits__section {  
    .exhibits__container {
      .exhibits__cards {
        display: flex;
        justify-content: space-evenly;
      }

      .card {
        max-width: 45%;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}
