@import "stylesheets/variables";

.exhibits__section {
  height: 100%;
  width: 100%;
  background-color: #FAF9F1;
  display: flex;
  justify-content: center;
  min-height: 850px;
  
  .exhibits__container {
    h1 {
      padding: 1rem 0;
    }

    .card {
      max-width: 345px;
      margin-bottom: 1rem;
    }
  }
}


.wrapper {
  margin: 1rem auto 2rem;
  padding: 0 1rem;

  @media (min-width: $largeRem) {
    padding: 0;
    margin-top: 2rem;
  }
}

.exhibitionText {
  border-left: 0.25rem solid $darkBorderColor;
  display: flex;
  padding: 0.25rem;

  @media (min-width: $smallRem) {
    padding: 0.5rem;
  }
}

.root {
  //display: flex;
}

.details {
}

.title {
  font-family: $serifFont;
  font-size: 1.5rem;
  font-weight: normal;
  margin: auto 0;

  @media (min-width: $xSmallRem) {
    font-size: 1.5rem;
  }

  @media (min-width: $mediumRem) {
    font-size: 1.5rem;
  }

  @media (min-width: $largeRem) {
    font-size: 1.5rem;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and ($md-viewport) {
  .exhibits__section {
    
    .exhibits__container {
      width: 80%;

      h1 {
        padding: 2rem 0;
        font-size: 2rem;
      }
  
      .card {
        max-width: inherit;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and ($mdP-viewport) {
  .exhibits__section {  
    .exhibits__container {
      .exhibits__cards {
        display: flex;
        justify-content: space-evenly;
      }

      .card {
        max-width: 95%;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}
