.exhibits__section {
  transition: opacity .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #FAF9F1;
  display: flex;
  justify-content: center;
  
  .exhibits__container {
    h1 {
      padding: 1rem 0;
    }

    .card {
      max-width: 345px;
    }
  }


}

