.exhibit_title__section {
  display: flex;
  flex-direction: column;

  .exhibit_title__image {
    background-color: #000;

    img {
      width: 100%;
    }
  }

  .exhibit_title__info {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    line-height: 1.2;
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 1em;

    h1 {
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }

    p {
      padding: .5em 0;
    }
  }


}

/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
  
// }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .exhibit_title__section {
    flex-direction: row-reverse;

    .exhibit_title__info {
      width: 50%;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}