@import "stylesheets/variables";

.para {
  font-family: $serifFont;
  font-size: 1rem;
  padding-bottom: 1.5rem;
}

.headlinetext {
  font-family: $serifFont;
  font-size: 3rem;
  line-height: 6rem;
}

.text {
  padding: 15px;
  font-family: $serifFont;
  font-size: 1rem;
}

.captionLeadIn {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 0.25rem;
}

.caption {
  color: $dimmedTextColor;
  display: flex;
  font-size: 0.875rem;
  line-height: 1.125;
  padding: 0 1rem;
}

.banner {
  margin: auto;
  display: block;
  width: 100%;
  height: auto;
}

.image {
  background-repeat: no-repeat;
  background-clip: border-box;
  background-position: center;
  background-size: cover;
}

.exhibit_title__headline {
  font-family: $serifFont;
}

.bodytext {
  font-size: 1.125rem;
  line-height: 1.625;
  font-family: $serifFont;
  p {
    padding-bottom: 1rem;
  }
}

.exhibit_title__section {
  display: flex;
  flex-direction: column;

  .exhibit_title__image {
    img {
      width: 100%;
      height: auto;
    }
  }

  .exhibit_title__info {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background: white;
    line-height: 1.2;
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 1em;

    h1 {
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }

    p {
      padding: .5em 0;
    }
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and ($md-viewport) {
  .exhibit_title__section {
    flex-direction: column;

    .exhibit_title__image { 
      margin: auto;

      img {
        width: auto;      
      }
    }

    .exhibit_title__info { 
      h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
  
      p {
        padding: 1rem 0;
        font-size: 1.5rem;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and ($mdP-viewport) {
  .exhibit_title__section {
    flex-direction: row;

    .exhibit_title__image { 
      width: 50%;
      display: flex;
      justify-content: center;
    }

    .exhibit_title__info { 
      width: 50%;

      h1 {
        font-size: 1.75rem;
      }
  
      p {
        font-size: 1rem;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}