@import "stylesheets/variables";

.exhibit_title__section {
  display: flex;
  flex-direction: column;

  .exhibit_title__image {
    img {
      width: 100%;
    }
  }

  .exhibit_title__info {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: black;
    line-height: 1.2;
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 1em;

    h1 {
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }

    p {
      padding: .5em 0;
    }
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and ($md-viewport) {
  .exhibit_title__section {
    flex-direction: column;

    .exhibit_title__image { 
      margin: auto;

      img {
        width: auto;      
      }
    }

    .exhibit_title__info { 
      h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
  
      p {
        padding: 1rem 0;
        font-size: 1.5rem;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and ($mdP-viewport) {
  .exhibit_title__section {
    flex-direction: row;

    .exhibit_title__image { 
      width: 50%;
      display: flex;
      justify-content: center;
    }

    .exhibit_title__info { 
      width: 50%;

      h1 {
        font-size: 1.75rem;
      }
  
      p {
        font-size: 1rem;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}