@import "stylesheets/variables";

.text_block__section {

  background: $theme-warmer-tint;
  padding: 1rem;
  font-family: $serifFont;
  font-size: 1rem;

  h3 {
    padding-bottom: .75rem;
    text-align: center;

  }

  h4 {
    padding: .75rem 0;
  }

  p {
    line-height: 1.5rem;
    padding-bottom: 2rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and ($md-viewport) {
  .text_block__section {
    padding: 1rem;
  
    h3 {
      font-size: 2rem;
    }
  
    h4 {
      padding: .75rem 0;
      font-size: 1.5rem;
    }
  
    p {
      line-height: 2rem;
      font-size: 1.25rem;
    }

    blockquote {
      font-size: 1.25rem;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}