$xSmallRem: 30em;
$smallRem: 40em;
$mediumRem: 52em;
$mediumPlusRem: 59.25em;
$largeRem: 72em;
$xLargeRem: 82em;

$xSmallEm: 30em; // 480px
$smallEm: 40em; // 640px
$mediumEm: 48em; // 768px
$mediumPlusEm: 62em; //992px
$largeEm: 72em; // 1152px
$xLargeEm: 82em; //1312px

$xsm-viewport: "min-width: " + $xSmallEm;
$sm-viewport: "min-width: " + $smallEm;
$md-viewport: "min-width: " + $mediumEm;
$mdP-viewport: "min-width: " + $mediumPlusEm;
$lg-viewport: "min-width: " + $largeEm;
